*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow-x: hidden;
    background-color:rgb(238, 209, 209); ;
}

.main{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30px,300px));
    column-gap: 15px;
    row-gap: 15px;
}

h1{
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    object-position: center;
}
